*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#about{
    text-align: center;
}
#contact{
    background-color:olive;
    text-align: center;
}

h1{
    text-align: center;
    color:burlywood;
    font-size: 50px;
    padding:10px;
    background-color:olivedrab;
}
h2{
    color:crimson;
    padding: 10px;
}
h3{
    margin-top: 10px;
}
nav{
    background-color:olivedrab;
    padding:10px;
}
ul{
    margin-left: 38%;
}
li{
    padding:10px;
    display:inline;
}
li a{
    text-decoration: none;
    color:white;
}
li a:hover{
    color:red;

}
input{
    width:60%;
    padding:15px;

}
.searchbar{
    padding:40px;
    text-align: center;
}
.products{
    margin-top: 20px;
}
.box{
    border:1px solid black;
    display:inline-block;
    width:210px;
    margin:4px 2px 4px 2px;
    padding:2px;
}
button{
    margin: 10px;
    margin-left: 40px;
}
